@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

.contenedor {
	width: 295px;
	heigh: 1000px;
	border: 1px solid black;
	margin: 0 auto;
	background: white;
}
img {
	border-radius: 50px;
	Width: 130px;
	margin: 0 auto;
	display: block;
	margin-top: 40px;
	border-radius: 100px;
}

.contenedor .nombre {
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-family: 'Poppins', sans-serif;
	color: #262626;
	margin-top: 7px;
    margin-bottom: 6px;
}

.contenedor p {
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-family: 'Raleway', sans-serif;
	color: #A3A7BA;
	padding-bottom: 40px;
}

.contenedor h4 {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	color: #262626;
}

h4, p {
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
}
h4 {
	padding-left: 56px;
	padding-bottom: 30px;
	padding-top: 15px;
}